*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	//1rem = 10px
	font-size: 62.5%; //1rem = 10px
}

body {
	box-sizing: border-box;
	padding: 3rem;	

	background: #f6f6f6;
	font-family: 'Squada One', cursive;
}

.countdownContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background: #ddd;
	border: 1px solid #999;
	box-shadow: 0 0 5px 3px #ccc

}

.info {
	font-size: 8rem;
}

.countdown__time-left {
	font-variant-numeric: tabular-nums;
	width: 10rem;
}